<!DOCTYPE html>
<html>
<head>
  <title>Google Spreadsheet Generator</title>
</head>
<body>
  <h1>Google Spreadsheet Generator</h1>
  <a href="/preview" class="btn btn-primary">Preview</a>
  <a href="/generate" class="btn btn-success">Generate</a>
</body>
</html>
